<!-- START: pages/lockscreen -->
<div class="cat__pages__login cat__pages__login--fullscreen" style="background-image: url(assets/modules/pages/common/img/login/1.jpg)">
    <div id="forget-password-panel" class="cat__pages__login__block cat_forgot_pass_custom">
        <div class="row">
            <div class="col-xl-12">
                <div class="cat__pages__login__block__inner">
                    <div class="cat__pages__login__block__form">
                        <div class="alert alert-success alert-close" *ngIf='is_success'>
                            <button type="button" class="close">
                                &times;
                            </button>
                            <strong>{{success_message}}</strong>
                        </div>
                        <div class="alert alert-danger alert-close" *ngIf='is_error'>
                          <button type="button" class="close">
                              &times;
                          </button>
                          <strong>{{error_message}}</strong>
                        </div>
                        <form #forgotPassword="ngForm" (ngSubmit)="onSubmit(forgotPassword)" [formGroup]="form" method="POST">

                            <h2 class="text-center">
                                <i class="icmn-lock"></i>
                                <strong>Forgot Password?</strong>
                            </h2>
                            <br />
                            <div class="form-group">
                                <input class="form-control"
                                       placeholder="Email"
                                       name="email"
                                       type="email"
                                       [formControl]="form.controls['email']">
                            </div>

                            <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="form-message text-danger">You must include an email address.</small>
                            <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="form-message text-danger">You must include a valid email address.</small>
                            <p></p>
                            <p class="text-left">To reset your password, please enter your email address and we will email you the details.</p>
                            <div class="form-actions text-center">
                                <button type="submit" class="btn btn-success" [disabled]="!form.valid">Reset Password</button>
                            </div>
                            <div class="form-group text-center">
                                <a routerLink="/sign-in">Sign In</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cat__pages__login__footer text-center">

    </div>
</div>
<!-- END: pages/lockscreen -->
