<!-- START: tables/datatables -->
<section class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="text-black clearfix">
                  <!-- <strong>User Listing</strong> -->
                  <div class="col-md-4">
                    <select class="form-control" name="staff" (change)="selectStaff($event.target.value)">
                        <option value="-1">Select Staff</option>
                        <option *ngFor="let staff of staffs" value="{{staff.id}}">{{staff.name}}</option>
                    </select>
                  </div>
                  <button (click)="export()" class="btn btn-primary pull-right">Export</button>
                  
                </h5>

                <div class="mb-5">
                    <table class="table table-hover" id="redemptionsDatatable" width="100%">
                        <thead>
                          <tr>
                              <th>Member Name</th>
                              <th>Member Email</th>
                              <th>Reward</th>
                              <th>Staff</th>
                              <th>Points</th>
                              <th>Note</th>
                              <th>Date</th>
                              <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let redemption of redemptions">
                                <tr>
                                    <td>{{redemption.member_name}} </td>
                                    <td>{{redemption.member_email}}</td>
                                    <td>{{redemption.bonus_name}}</td>
                                    <td>{{redemption.staff_name}}</td>
                                    <td>{{redemption.points}}</td>
                                    <td>{{redemption.note}}</td>
                                    <td>{{redemption.created_at}}</td>
                                    <td>
                                        <span class="btn-cursor-pointer swal-btn-cancel" (click)="deleteRedemption(redemption.id)"><i class="i_delete fa fa-trash"></i></span>
        
                                    </td>
                                </tr>
                            </ng-container>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </section>

<!-- END: tables/datatables -->

