<div class="cat__footer">
  <div   class="cat__footer__bottom">
    <div class="row">
      <div class="col-md-12">
        <div class="cat__footer__company">
          
            <span>
                © 2017 <a href="http://theappcompany.com/" target="_blank">The APP Company</a> All Rights Reserved
            </span>
        </div>
      </div>
    </div>
  </div>
  <a href="javascript: void(0);" class="cat__core__scroll-top" onclick="$('body, html').animate({'scrollTop': 0}, 500);"><i class="icmn-arrow-up"></i></a>
</div>
