@import url(css/blue.css);
@import url(css/green.css);
@import url(css/light.css);
@import url(css/orange.css);
@import url(css/red.css);

.divider {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 18px;
    margin: 0 10px;
    vertical-align: bottom;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}