<section class="card">

    <div class="card-block">
        <div class="row">
            <div class="col-lg-12">

                <div class="mb-5 sub-menu-css-field-part">

                    <div class="dynamicHtmlBlock">

                        <div class="preDefineHtml">

                            <!-- <input type="hidden" name="cssDemo" value="{{getMenuSubCssJsonData}}"> -->
                            <!-- <input type="hidden" name="menuIsChild" value="{{getMenuIsChild}}"> -->
                            <input type="hidden" name="menuTypeMenuSlugId" value="{{getMenuTypeMenuSlugId}}">

                            <div class="accordion card_custome_accordion" id="accordion">

                                <div class="card">

                                    <div class="card-header card_custome_collapsed " role="tab" id="headingOne" data-toggle="collapse" aria-expanded="true" [attr.data-target]="'#' + menuTypeMenuSlugId"
                                        [attr.aria-controls]="menuTypeMenuSlugId" (click)="subMenuCollapseOpen(menuTypeMenuSlugId)"
                                        [ngClass]="subMenuTypeCollapsed == menuTypeMenuSlugId ? '' : 'collapsed'">
                                        <div class="card-title">
                                            <span class="accordion-indicator pull-right">
                                                <i class="plus fa fa-plus"></i>
                                                <i class="minus fa fa-minus"></i>
                                            </span>
                                            <a>Advanced Options</a>
                                        </div>

                                    </div>

                                    <div id="{{subMenuTypeCollapsed}}" class="custom-collapse-margin-top card-collapse collapse" role="tabcard" aria-labelledby="headingOne"
                                        [ngClass]="subMenuTypeCollapsed == menuTypeMenuSlugId ? 'show' : ''">

                                        <div class="sub-menu-css-json-fields sub-menu-css-json-field-block">
                                            <form #menuTypeListMenu2="ngForm">

                                                <div class="form-group row" *ngIf="showParentForm">
                                                    <label class="col-md-3 col-form-label" for="show_child_on">Force Full Screen?</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control" name="show_child_on" [(ngModel)]="typeMenuform.show_child_on" (ngModelChange)="sendMenuTypeListMenuData($event,null,null,menuTypeListMenu2);">
                                                            <!-- <option value="" selected="">Select Sub Menu position</option> -->
                                                            <option *ngFor="let show_child of showChildArray" [ngValue]="show_child.key">{{show_child.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row" *ngIf="showChildForm">
                                                    <label class="col-md-3 col-form-label" for="show_child_on">Force Full Screen?</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control" name="show_child_on" [(ngModel)]="typeMenuform.show_child_on" (ngModelChange)="sendMenuTypeListMenuData($event,null,null,menuTypeListMenu2);">
                                                            <!-- <option value="" selected="">Select Sub Menu position</option> -->
                                                            <option *ngFor="let show_child of showChildArray" [ngValue]="show_child.key">{{show_child.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row" *ngFor="let cssData of typeMenuform.css_string_json; let i = index ">

                                                    <label                                                     
                                                      class="col-md-3 col-form-label" 
                                                      for="{{cssData.key}}"
                                                      [hidden]="cssData.type == 'borderStyle' || cssData.key == 'listBannerBackground' || cssData.key == 'listBannerBorderStyle' || cssData.key == 'bottomBorderStyle'">
                                                      {{cssData.label}}
                                                    </label>

                                                    <div class="col-sm-8" *ngIf="cssData.type == 'size'">
                                                        <input appOnlyNum id="{{cssData.key}}" name="{{cssData.key}}" [(ngModel)]="typeMenuform.css_string_json[i]['value']" (ngModelChange)="sendMenuTypeListMenuData($event,null,null,menuTypeListMenu2)"
                                                        class="form-control custom_css_size_field_text" placeholder="Enter {{cssData.label}}"
                                                        type="text" />

                                                        <input class="form-control custom_css_size_field_px" value="px" name="field_size_px_{{i}}" id="field_size_px_{{i}}" [disabled]="true"
                                                            type="text">
                                                    </div>


                                                    <div class="col-md-4" *ngIf="cssData.type == 'color' && cssData.key == 'borderColor'">
                                                        <input type="text" name="{{cssData.key}}" id="{{cssData.key}}"
                                                        class="form-control cursor_pointer_input"
                                                        [style.background]="cssData.value"
                                                        [(colorPicker)]="cssData.value"
                                                        [cpOutputFormat]="'hex'"
                                                        [cpPositionRelativeToArrow]='true'
                                                        (colorPickerChange)="rgbaText=onChangeBordercolor($event);sendMenuTypeListMenuData($event,i,cssData.key,menuTypeListMenu2)"
                                                        [readonly]="true"
                                                        />
                                                    </div>
                                                    <label *ngIf="cssData.type == 'color' && cssData.key == 'borderColor' && cssData.value" class="col-md-4 col-form-label" for="{{cssData.key}}">
                                                        Hex: {{cssData.value}}
                                                    </label>
                                                    <label *ngIf="cssData.type == 'color' && cssData.key == 'borderColor' && cssData.value == ''" class="col-md-4 col-form-label"
                                                        for="{{cssData.key}}">
                                                        Hex: #000000
                                                    </label>


                                                    <div class="col-md-4" *ngIf="cssData.type == 'color' && cssData.key == 'fontColor'">
                                                        <input type="text" id="{{cssData.key}}" name="{{cssData.key}}"
                                                        class="form-control cursor_pointer_input" type="text"
                                                        [style.background]="cssData.value" [(colorPicker)]="cssData.value"
                                                        [cpOutputFormat]="'hex'"
                                                        [cpPositionRelativeToArrow]='true'
                                                        (colorPickerChange)="rgbaText=onChangefontcolor($event);sendMenuTypeListMenuData($event,i,cssData.key,menuTypeListMenu2)"
                                                        [readonly]="true"
                                                        />
                                                    </div>
                                                    <label *ngIf="cssData.type == 'color' && cssData.key == 'fontColor' && cssData.value" class="col-md-4 col-form-label" for="{{cssData.key}}">
                                                        Hex: {{cssData.value}}
                                                    </label>
                                                    <label *ngIf="cssData.type == 'color' && cssData.key == 'fontColor' && cssData.value == ''" class="col-md-4 col-form-label"
                                                        for="{{cssData.key}}">
                                                        Hex: #000000
                                                    </label>


                                                    <div class="col-md-8" *ngIf="cssData.type == 'font'">

                                                        <select class="form-control" id="menu_location_type" name="menu_location_type" [(ngModel)]="typeMenuform.css_string_json[i]['value']"
                                                            (ngModelChange)="sendMenuTypeListMenuData($event,null,null,menuTypeListMenu2)">
                                                            <option value="" selected="">Select Font Name</option>
                                                            <option *ngFor="let fontType of subMenuFontTypeData" [ngValue]="fontType.value"
                                                            >{{fontType.name}}</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-8" *ngIf="cssData.type == 'align'">

                                                        <select class="form-control" id="alignment" name="alignment" [(ngModel)]="typeMenuform.css_string_json[i]['value']" (ngModelChange)="sendMenuTypeListMenuData($event,null,null,menuTypeListMenu2)">
                                                            <option *ngFor="let align of subMenuAlignmentArray" [ngValue]="align.key" [selected]="align.key == 1">{{align.name}}</option>
                                                        </select>
                                                    </div>

                                                    <!-- <div class="col-md-8" *ngIf="cssData.type == 'borderStyle'">

                                                        <select class="form-control" id="{{cssData.key}}" name="{{cssData.key}}" [(ngModel)]="typeMenuform.css_string_json[i]['value']"
                                                            (ngModelChange)="sendMenuTypeListMenuData($event,null,null,menuTypeListMenu2)">
                                                            <option value="" selected="">Select Border Style</option>
                                                            <option *ngFor="let style of subMenuBorderStyleArray" [ngValue]="style.name">{{style.name}}</option>
                                                        </select>

                                                    </div> -->

                                                </div>
                                            </form>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</section>
